pyvirtualdisplay
piglet
pyvirtualdisplay 
numpy 
torch 
torchvision 
torchaudio 
gymnasium 
tqdm 
matplotlib 
jupyter
swig
gym[box2d]
box2d-py
ipykernel 
ipywidgets 
widgetsnbextension
gym==0.25.2
pytz